<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>
    <form th:action="@{/registration}" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <h2>Регистрация</h2>
        <input type="text" placeholder="Почта" name="email">
        <input type="password" placeholder="Пароль" name="password">
        <input type="password" placeholder="Повторите пароль" name="confirmed password">
        <button type="submit">Зарегестрироваться</button>
        <p>
            <a th:href="@{/login}">Уже есть аккаунт?</a>
        </p>
    </form>
</section>

</body>
</html>